.DS_Store
Simplicity/
.metadata/
outgoing/
GNU\ ARM\ v*
*~$*
measurement_imgs/
100-uC-OS-II-002.pdf
SLSTK*/
_backup_*
imported_project_report.html
*.zip
*.o
Lab?/Part?/LICENSE
Lab4/PartA/firstcomefirstserved
Lab4/PartB/roundrobin
Lab4/PartB/testing.txt
Lab5/ideas.txt
Lab5/PartC/shortestjobfirst
Lab5/PartD/priority
Final_Proj/*_docs
.vscode
